/* ------------------------- */
/* Estilos Generales */
/* ------------------------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(85, 107, 47);
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

.contenedor-texto {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 75%;
    height: auto;
    font-size: 100%;
}

.caja-de-texto {
    min-height: 80vh;
    align-items: center;
    position: relative;
    color: #e5d2ab;
    z-index: 100;
}

.caja-de-texto .item {
    width: 75%;
    height: 60%;
    text-align: justify;
    position: absolute;
    top: 20%;
    left: 12%;
    color: #e5d2ab;
}
  /* Add some content at the bottom of the video/page */
  .content {
    position: fixed;
    text-align: justify;
    bottom: 0;
    right: 20%;
    background: #1d1d1fb8;
    color: #f1f1f1;
    width: 60%;
    padding: 20px;
  }

.section header {
    display: flex;
    align-items: center;
}


h1,
h2,
h3,
h4,
h5 {
    text-align: center;
    margin-bottom: 0;
}

.texto-color1 {
    font-weight: 300;
    font-size: 5vmin;
    color: #e5d2ab;
    background: #1d1d1fb8;
}

.texto-color2 {
    font-weight: 700;
    font-size: 7vmin;
    color: #c3af87;
    background: #1d1d1fb8;
}

.texto-color3 {
    font-weight: 900;
    font-size: 5vmin;
    color: #e5d2ab;
}

.nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 70;
    width: 100%;
    margin: 0;
    padding: 10px 20px;
    background: #1d1d1fb8;
}

.loguito {
    width: 30%;

}


/*estilo barra busqueda*/



.form{

    position: relative;
}

.form .fa-search{

    position: absolute;
    top:20px;
    left: 20px;
    color: #9ca3af;

}

.form span{

    position: absolute;
    right: 17px;
    top: 13px;
    padding: 2px;
    border-left: 1px solid #d1d5db;

}

.left-pan{
    padding-left: 7px;
}

.left-pan i{
   
   padding-left: 10px;
}

.form-input{

    height: 55px;
    text-indent: 33px;
    border-radius: 10px;
}

.form-input:focus{

    box-shadow: none;
    border:none;
}

.text-white{
    color: #e5d2ab!important;
}

.form-control{
    background-color: #e5d2ab!important;
}

#map{
    display: flex;
    margin-top: 1vh;
    width: 35vw; 
    height: 25vh;
    margin: 2em auto;
}

.fp-table{
    justify-content: flex-end!important;
}

.videobg{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    filter: blur(10px);
}
@media (min-aspect-ratio: 16/9){
    .videobg{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    .videobg{
        width: auto;
        height: 100%;
    }
}

.element.style {
    background-color: transparent!important;
    overflow: hidden!important;
    }

@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);

.nosotros1,
.nosotros2,
.nosotros3{
position: absolute;
display: block;
color:#e5d2ab;
top: 3em;
width: 70%;
font-size: 2em;
animation-duration: 25s;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
background-color: #1d1d1fb8;
}

.nosotros1{
    animation-name: anim-1;
}
.nosotros2{
    animation-name: anim-2;
}
.nosotros3{
    animation-name: anim-3;
}

@keyframes anim-1 {
    0%, 8.3%{left: -100%; opacity: 0;}
    8.3%,25%{left:25%; opacity: 1;}
    33.33%,100%{left:110%; opacity:0;}
    
}
@keyframes anim-2{
    0%,33.33%{left:-100%;opacity: 0;}
    41.63%,58.29%{left:25%; opacity: 1;}
    66.66%,100%{left:110%; opacity:0;}
}
@keyframes anim-3{
    0%,66.66%{left:-100%;opacity: 0;}
    74.96%,91.62%{left:25%; opacity: 1;}
    100%{left:110%; opacity:0;}
}