/* ------------------------- */
/* Estilos Generales */
/* ------------------------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(85, 107, 47);
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

.contenedor-texto {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 75%;
    height: auto;
    font-size: 100%;
}

.caja-de-texto {
    min-height: 80vh;
    align-items: center;
    position: relative;
    color: #e5d2ab;
    z-index: 100;
}

.caja-de-texto .item {
    width: 75%;
    height: 60%;
    text-align: justify;
    position: absolute;
    top: 20%;
    left: 12%;
    color: #e5d2ab;
}

/* #myVideo {
    position: absolute;
    top: 0;
    left: 0;

    z-index: -3;
    width: 100%;
    height: 100%;
    overflow: hidden;
  } */


.contenedor-video{
    position: relative;
    height: 100vh;
}

.contenedor-video video{
    position: relative;
    top: 50%;
    left: 50%;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    filter:blur(10px);
}

  /* Add some content at the bottom of the video/page */
  .content {
    position: fixed;
    text-align: justify;
    bottom: 0;
    right: 20%;
    background: #1d1d1fb8;
    color: #f1f1f1;
    width: 60%;
    padding: 20px;
  }

.section header {
    display: flex;
    align-items: center;
}


h1,
h2,
h3,
h4,
h5 {
    text-align: center;
    margin-bottom: 0;
}

.texto-color1 {
    font-weight: 300;
    font-size: 5vmin;
    color: #e5d2ab;
    background: #1d1d1fb8;
}

.texto-color2 {
    font-weight: 700;
    font-size: 7vmin;
    color: #c3af87;
    background: #1d1d1fb8;
}

.texto-color3 {
    font-weight: 900;
    font-size: 5vmin;
}

.nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 70;
    width: 100%;
    margin: 0;
    padding: 10px 20px;
    background: #1d1d1fb8;
}

.loguito {
    width: 30%;

}


/*estilo barra busqueda*/



.form{

    position: relative;
}

.form .fa-search{

    position: absolute;
    top:20px;
    left: 20px;
    color: #9ca3af;

}

.form span{

    position: absolute;
    right: 17px;
    top: 13px;
    padding: 2px;
    border-left: 1px solid #d1d5db;

}

.left-pan{
    padding-left: 7px;
}

.left-pan i{
   
   padding-left: 10px;
}

.form-input{

    height: 55px;
    text-indent: 33px;
    border-radius: 10px;
}

.form-input:focus{

    box-shadow: none;
    border:none;
}

.text-white{
    color: #e5d2ab!important;
}

.form-control{
    background-color: #e5d2ab!important;
}

#map{
    display: flex;
    margin-top: 1vh;
    width: 35vw; 
    height: 25vh;
    margin: 2em auto;
}

.fp-table{
    justify-content: flex-end!important;
}
