<section class="section">

    <div class="container-fluid mt-100">
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-4">
                    <div class="card-header">
                        <div class="media flex-wrap w-100 align-items-center"> <img
                                src="https://i.imgur.com/iNmBizf.jpg" class="d-block ui-w-40
                                rounded-circle" alt="">
                            <div class="media-body ml-3"> <a href="javascript:void(0)"
                                    data-abc="true">Anónimo</a>
                                <div class="text-muted small">7 días atras</div>
                            </div>
                            <div class="text-muted small ml-3">

                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        
                        <p> Lorem Ipsum es simplemente el texto de relleno de las imprentas y
                            archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de
                            las industrias desde el año 1500, cuando un impresor (N. del T.
                            persona que se dedica a la imprenta) desconocido usó una galería de
                            textos y los mezcló de tal manera que logró hacer un libro de textos
                            especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como
                            texto de relleno en documentos electrónicos, quedando esencialmente
                            igual al original. Fue popularizado en los 60s con la creación de las
                            hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más
                            recientemente con software de autoedición, como por ejemplo Aldus
                            PageMaker, el cual incluye versiones de Lorem Ipsum.
                        </p>
                    </div>
                    <div class="card-footer d-flex flex-wrap justify-content-between
                        align-items-center px-0 pt-0 pb-3">
                        <div class="px-4 pt-3"> <a href="javascript:void(0)" class="text-muted
                                d-inline-flex align-items-center align-middle" data-abc="true"> <i
                                    class="fa fa-heart text-danger"></i>&nbsp; <span
                                    class="align-middle">112</span> </a> <span class="text-muted
                                d-inline-flex align-items-center align-middle ml-4"> <i class="fa
                                    fa-eye text-muted fsize-3"></i>&nbsp; <span class="align-middle">14532</span>
                            </span> </div>
                        <div class="px-4 pt-3"> <button type="button" class="btn btn-primary"><i
                                    class="ion ion-md-create"></i>&nbsp; Reply</button> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-100">
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-4">
                    <div class="card-header">
                        <div class="media flex-wrap w-100 align-items-center"> <img
                                src="https://i.imgur.com/iNmBizf.jpg" class="d-block ui-w-40
                                rounded-circle" alt="">
                            <div class="media-body ml-3"> <a href="javascript:void(0)"
                                    data-abc="true">Elmer Figueroa</a>
                                <div class="text-muted small">1 día atras</div>
                            </div>
                            <div class="text-muted small ml-3">
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <p> Hay muchas variaciones de los pasajes de Lorem Ipsum disponibles,
                            pero la mayoría sufrió alteraciones en alguna manera, ya sea porque se
                            le agregó humor, o palabras aleatorias que no parecen ni un poco
                            creíbles. Si vas a utilizar un pasaje de Lorem Ipsum, necesitás estar
                            seguro de que no hay nada avergonzante escondido en el medio del
                            texto. Todos los generadores de Lorem Ipsum que se encuentran en
                            Internet tienden a repetir trozos predefinidos cuando sea necesario,
                            haciendo a este el único generador verdadero (válido) en la Internet.
                            Usa un diccionario de mas de 200 palabras provenientes del latín,
                            combinadas con estructuras muy útiles de sentencias, para generar
                            texto de Lorem Ipsum que parezca razonable. Este Lorem Ipsum generado
                            siempre estará libre de repeticiones, humor agregado o palabras no
                            características del lenguaje, etc.
                        </p>
                    </div>
                    <div class="card-footer d-flex flex-wrap justify-content-between
                        align-items-center px-0 pt-0 pb-3">
                        <div class="px-4 pt-3"> <a href="javascript:void(0)" class="text-muted
                                d-inline-flex align-items-center align-middle" data-abc="true"> <i
                                    class="fa fa-heart text-danger"></i>&nbsp; <span
                                    class="align-middle">999</span> </a> <span class="text-muted
                                d-inline-flex align-items-center align-middle ml-4"> <i class="fa
                                    fa-eye text-muted fsize-3"></i>&nbsp; <span class="align-middle">23331</span>
                            </span> </div>
                        <div class="px-4 pt-3"> <button type="button" class="btn btn-primary"><i
                                    class="ion ion-md-create"></i>&nbsp; Reply</button> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-100">
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-4">
                    <div class="card-header">
                        <div class="media flex-wrap w-100 align-items-center"> <img
                                src="https://i.imgur.com/iNmBizf.jpg" class="d-block ui-w-40
                                rounded-circle" alt="">
                            <div class="media-body ml-3"> <a href="javascript:void(0)"
                                    data-abc="true">Mailen</a>
                                <div class="text-muted small">2 días atrás</div>
                            </div>
                            <div class="text-muted small ml-3">
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                
                        <p> El trozo de texto estándar de Lorem Ipsum usado desde el año 1500
                            es reproducido debajo para aquellos interesados. Las secciones 1.10.32
                            y 1.10.33 de "de Finibus Bonorum et Malorum" por Cicero son también
                            reproducidas en su forma original exacta, acompañadas por versiones en
                            Inglés de la traducción realizada en 1914 por H. Rackham.
                        </p>
                    </div>
                    <div class="card-footer d-flex flex-wrap justify-content-between
                        align-items-center px-0 pt-0 pb-3">
                        <div class="px-4 pt-3"> <a href="javascript:void(0)" class="text-muted
                                d-inline-flex align-items-center align-middle" data-abc="true"> <i
                                    class="fa fa-heart text-danger"></i>&nbsp; <span
                                    class="align-middle">748</span> </a> <span class="text-muted
                                d-inline-flex align-items-center align-middle ml-4"> <i class="fa
                                    fa-eye text-muted fsize-3"></i>&nbsp; <span class="align-middle">14532</span>
                            </span> </div>
                        <div class="px-4 pt-3"> <button type="button" class="btn btn-primary"><i
                                    class="ion ion-md-create"></i>&nbsp; Reply</button> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





</section>
