<!DOCTYPE html>
<html lang="es">
	<head>
		<%- include('./partials/head.ejs'); %>
	</head>
	<body>
		<%- include('./partials/navbar.ejs'); %>
    <div class="row">
        <div class="leftcolumn">
            <div class="card">
                <h2>Sobre el cambio climático</h2>
                <h5>Una pequeña reflexión, 8 Enero, 2023</h5>
                <div class="fakeimg" style="height:205px;"><Image
                        src="/img/cambiocl.jpeg"></div>
                    <p>El cambio climático es uno de los problemas ambientales más graves a
                        los que se enfrenta nuestro planeta. Los científicos están de acuerdo en
                        que el aumento de la temperatura global es causado principalmente por el
                        aumento de los gases de efecto invernadero en la atmósfera, que se
                        produce principalmente a través de la quema de combustibles fósiles como
                        el petróleo y el gas natural.

                        El cambio climático tiene graves consecuencias para el medio ambiente y
                        la sociedad. Las temperaturas más altas pueden conducir a sequías,
                        inundaciones y fenómenos meteorológicos extremos, que a su vez pueden
                        tener un impacto en la producción de alimentos y en la economía en
                        general. Además, el cambio climático es una amenaza para la
                        biodiversidad y puede tener un impacto negativo en la salud humana.

                        Para abordar el cambio climático, es esencial reducir nuestras emisiones
                        de gases de efecto invernadero. Esto puede hacerse a través de la
                        implementación de políticas y tecnologías que fomenten la conservación
                        de la energía y la utilización de fuentes de energía renovable. También
                        es importante fomentar la conciencia pública sobre el problema y
                        promover el desarrollo de soluciones sostenibles a nivel individual y
                        comunitario.

                        Es vital que tomemos medidas urgentes para abordar el cambio climático
                        antes de que sea demasiado tarde. Si tomamos medidas decisivas ahora,
                        podemos proteger a nuestro planeta y a nosotros mismos para las
                        generaciones futuras.</p>
                </div>

                <div class="card">
                    <h2>Cyberpunks y alimentación</h2>
                    <h5>O cómo será la dieta de los transhumanos, Enero 1, 2023</h5>
                    <div class="fakeimg" style="height:200px;"><img
                            src="/img/transhuman.jpg"
                            style="height: 180px;"></div>
                    <p>La alimentación está en constante evolución y cada vez se están
                        desarrollando nuevas formas de obtener y consumir alimentos. Una
                        corriente que ha ganado popularidad en las últimas décadas es el
                        movimiento cyberpunk, que se caracteriza por la fusión de la tecnología
                        y la cultura underground.

                        Los cyberpunks, a menudo asociados con la subcultura del hacker, han
                        desarrollado una serie de filosofías y prácticas alimentarias que se
                        basan en la sostenibilidad y la tecnología avanzada. Muchos de ellos
                        creen en la producción de alimentos de manera local y sostenible,
                        utilizando técnicas como la agricultura hidropónica y la cria de
                        insectos comestibles.

                        Otra tendencia en la alimentación del futuro es la ingeniería genética y
                        la modificación de los alimentos para mejorar sus propiedades
                        nutricionales y hacerlos más resistentes a enfermedades y plagas. Esto
                        ha generado polémica, ya que algunos creen que estas prácticas pueden
                        tener consecuencias negativas en la salud y el medio ambiente a largo
                        plazo.

                        La realidad virtual y la tecnología de realidad aumentada también están
                        cambiando la forma en que consumimos alimentos. Algunos futuristas
                        predicen que en el futuro, podremos tener experiencias culinarias
                        completamente inmersivas y personalizadas en el mundo virtual.

                        En resumen, la alimentación está siendo influenciada por una serie de
                        factores, incluyendo la sostenibilidad, la tecnología avanzada y la
                        cultura cyberpunk. A medida que se desarrollan nuevas formas de producir
                        y consumir alimentos, es importante considerar tanto los beneficios como
                        los posibles riesgos y desafíos.</p>
                </div>
            </div>

            <div class="rightcolumn">
                <div class="card">
                    <h2>Este es el blog de QuéComoDónde</h2>
                    <div class="fakeimg" style="height:100px;background-color:
                        darkolivegreen;">
                        <span style='font-size:50px;'>&#127795;</span>
                        <span style='font-size:50px;'>&#127813;</span>
                        <span style='font-size:50px;'>&#128046;</span>


                        
                    
                    </div>
                    <p>Subscribete! y gana un PACK de cervezas artesanales, una desde cada
                        región de Chile</p>
                    <p>ChatGPT es un buen columnista </p>

                </div>
                <div class="card">
                    <h3>Entradas más populares</h3>
                    <div class="fakeimg">Sobre el cambio climático</div><br>
                    <div class="fakeimg">Cyberpunks y alimentación</div><br>
                    <div class="fakeimg">Undefined</div>
                </div>

            </div>
        </div>
    </body>