<!DOCTYPE html>
<html lang="es">
	<head>
		<%- include('./partials/head.ejs'); %>
	</head>
	<body>
		<%- include('./partials/navbar.ejs'); %>
		<main id="fullpage">
			<section class="section">
<br><br><br><br><br><br><br><br>

<div class="logo-inicio"><img class="logo" src="/img/logo_up.png" alt="Quecomodonde"><br></div><h1 class="texto-color3 Sunset">QueComoDonde</h1><br><br>
				<div class="contenedor-busqueda mx-auto" style="width: 70%;">
					<div class="row height d-flex justify-content-center align-items-center">
						<div class="col-md-6 wrapper">
							<div class="form search-input">
								<form action="catalogo" id="formulario-busqueda" method="POST" action="/catalogo">
								<div class="icon" id="boton-busqueda"><i class="fa fa-search"></i></div>
								<input type="search" class="form-control form-input" placeholder="¡Escribe aquí!" name="busqueda" id="buscar-pal" onkeyup="autocompletado()">
								<span class="left-pan"><i class="fa fa-microphone"></i></span>
								<ul id="demo" class="list-group"></ul>
							</form>
							</div>
						</div>
			 		</div>
				</div>
			</div>

			<!-- //Mapa -->
 <div id='map' class="map">
	<script src="/js/mapa.js">
</script>
</div>  
			<%- include('./partials/cardscarrousel.ejs'); %>
			<%- include('./partials/footer.ejs'); %>
		</section>
		</main>
		<script>
			document.getElementById("boton-busqueda").addEventListener("click", function() {
			  document.getElementById("formulario-busqueda").submit();
			});
		  </script>
		  

		<!-- <script src="/js/fullpage.js"></script>
		<script src="/js/app.js"></script>
		<script src="/js/search.js"></script> -->
	</body>
</html>
