<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,
						initial-scale=1.0">
  <title>Bienvenid@ </title>
  <link rel="stylesheet" type="text/css" href="css/ingresar.css">

<body>

  <!-- container div -->
  <div class="container">

    <!-- upper button section to select
			the login or signup form -->
    <div class="slider"></div>
    <div class="btn">
      <button class="login">Ingresar</button>
      <button class="signup">Registro</button>
    </div>

    <!-- Form section that contains the
			login and the signup form -->

    <div class="form-section">
      <!-- login form -->
      <form action="/ingresar" method="POST">
        <div class="login-box">
          <input type="email" class="email ele" name="username" placeholder="tucorreo@email.com">
          <input type="password" class="password ele" name="password" placeholder="*******">
          <input type="button" class="clkbtn" onclick="history.back()" value="Volver!">
          <input type="submit" class="clkbtn" value="Vamos!">
      </form>
    </div>
    <!-- signup form -->
    <form action="/registro" method="POST">
      <div class="signup-box">
        <input type="text" class="name ele" name="name" placeholder="Ingresa tu nombre">
        <input type="email" class="email ele" name="username" placeholder="tucorreo@email.com">
        <input type="password" class="password ele" name="password" placeholder="contraseña">
        <input type="password" class="password ele" name="passwordconfirm" placeholder="confirmar contraseña">
        <input type="submit" class="clkbtn" value="Confirmar">
    </form>
  </div>

  </div>

  </div>
  <script src="js/ingresar.js"></script>
</body>

</html>