<!DOCTYPE html>
<html lang="es">
	<head>
		<%- include('./partials/head.ejs'); %>
	</head>
	<body>
    <video autoplay muted loop plays-inline class="videobg">
        <source src="/media/videobg.mp4" type="video/mp4">
    </video>
    <div class="texto-flotante">
        <p class="nosotros1">QuéComoDónde es un espacio abierto donde podrás
            encontrar alimentos
            realizados de forma artesanal por productores locales en tu zona.</p>
        <p class="nosotros2">También dispones de distintas herramientas que te
            permitirán evaluar la mejor comida
            para tu cuerpo</p>
        <p class="nosotros3">¡Acompañanos a construir soberanía alimentaria!</p>
    </div>




    <p>hola mundo</p>
    <h1>holahola</h1>
</body>