<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulario de envío de productos</title>
  <link rel="stylesheet" href="css/publicar.css">
</head>
<body>
  <h1>Ingrese los detalles del producto:</h1>
  <form id="form" method="POST" enctype="multipart/form-data">
    <div class="campo">
      <label for="nombre_producto">Nombre de publicación:</label>
      <input type="text" id="nombre_producto" name="nombre_publicacion" required>
    </div>
    <div class="campo">
      <label for="descripcion">Descripción:</label>
      <input type="text" id="descripcion" name="descripcion" required>
    </div>
    <div class="campo">
      <label for="precio">Precio:</label>
      <input type="number" id="precio" name="precio" required>
    </div>
    <div class="campo">
      <label for="precio">Unidades:</label>
      <input type="number" id="unidades" name="unidades" required>
    </div>
    <div class="campo">
      <label for="palabra_clave_1">Palabra clave 1:</label>
      <input type="text" id="palabra_clave_1" name="kw1" required>
    </div>
    <div class="campo">
      <label for="palabra_clave_2">Palabra clave 2:</label>
      <input type="text" id="palabra_clave_2" name="kw2" required>
    </div>
    <div class="campo">
      <label for="imagen">Imagen:</label>
      <input type="file" id="imagen" name="archivo" required>
    </div>
    <div class="campo">
      <label for="Region">Region:</label>
      <select type="text" id="Region" name="Region" onchange="cambiaCiudad()">
        <option value="0" required>Seleccione Región</option>
        <% regiones.forEach(function(element, index) { %>
        <option value="<%= index + 1 %>"><%= element%></option>
        <% }) %>
      </select>
    </div>
    <div class="campo">
      <label for="Ciudad">Ciudad:</label>
      <select type="text" id="Ciudad" name="Ciudad" required>
        <option value=""></option>
      </select>
    </div>
    <button type="submit">Enviar</button>
  </form>
  <script>
    function cambiaCiudad() {
      const regionSeleccionada = document.getElementById("Region").value;
    
      // Realiza una solicitud AJAX al servidor para obtener las ciudades correspondientes a la región seleccionada
      const xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          const ciudades = JSON.parse(this.responseText);
    
          // Reemplaza las opciones actuales en el selector Ciudad con las nuevas opciones devueltas por el servidor
          const selectorCiudad = document.getElementById("Ciudad");
          selectorCiudad.innerHTML = "";
          ciudades.forEach((ciudad) => {
            const option = document.createElement("option");
            option.value = ciudad.comuna_id;
            option.text = ciudad.ciudad;
            selectorCiudad.add(option);
          });
        }
      };
      xhttp.open("GET", `http://localhost:4000/api/v1/ciudades?region=${regionSeleccionada}`, true);
      xhttp.send();
    }
  </script>
</body>
</html>
