<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publicar un Producto</title>
    <style>
        * {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        body {
            padding: 10px 5%;
            
            background: rgb(241,241,241);
background: radial-gradient(circle, rgba(241,241,241,1) 0%, rgba(231,185,235,0.8393558106836485) 39%, rgba(241,241,241,1) 75%); 
            font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 15pt;
        }

        form header {
            margin: 0 0 20px 0;
        }

        form header div {
            font-size: 90%;
            color: #999;
        }

        form header h2 {
            margin: 0 0 5px 0;
            text-align:center;
        }

        form>div {
            clear: both;
            overflow: hidden;
            padding: 1px;
            margin: 0 0 10px 0;
        }

        form>div>fieldset>div>div {
            margin: 0 0 5px 0;
        }

        form>div>label,
        legend {
            width: 25%;
            float: left;
            /* padding-right: 10px; */
        }

        form>div>div,
        form>div>fieldset>div {
            width: 75%;
            float: right;
        }

        form>div>fieldset label {
            font-size: 90%;
        }

        fieldset {
            border: 0;
            padding: 0;
        }

        input[type=text],
        input[type=email],
        input[type=url],
        input[type=password],
        textarea {
            width: 100%;
            border-top: 1px solid #ccc;
            border-left: 1px solid #ccc;
            border-right: 1px solid #eee;
            border-bottom: 1px solid #eee;
        }

        input[type=text],
        input[type=email],
        input[type=url],
        input[type=password],
        textarea {
            width: 50%;
        }

        input[type=text]:focus,
        input[type=email]:focus,
        input[type=url]:focus,
        input[type=password]:focus,
        textarea:focus {
            outline: 0;
            border-color: #4697e4;
        }

        @media (max-width: 600px) {
            form>div {
                margin: 0 0 15px 0;
            }

            form>div>label,
            legend {
                width: 100%;
                float: none;
                margin: 0 0 5px 0;
            }

            form>div>div,
            form>div>fieldset>div {
                width: 100%;
                float: none;
            }

            input[type=text],
            input[type=email],
            input[type=url],
            input[type=password],
            textarea,
            select {
                width: 100%;
            }
        }

        @media (min-width: 1200px) {

            form>div>label,
            legend {
                text-align: right;
            }
        }
        .contenedor{
            background-color: #d0c2a4;
            box-shadow: 5px 5px 15px rgb(0, 0, 0);
            border-radius: 15px;
            margin-top: 90px;
        }
        .botonsubmit {
        display: flex;
        justify-content: center;
}

    </style>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Catálogo</title>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" crossorigin="anonymous"></script>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
    crossorigin="anonymous">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/css/estilo2.css">
<link rel="stylesheet" type="text/css" href="/css/fullpage.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="./js/main.js"></script>
<!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.0.1/tailwind.min.css"> -->
<head>
    <link rel="stylesheet" type="text/css"
    href="css/bootstrap.min.css">
 <script>
    document.addEventListener("DOMContentLoaded", function() {
      var script = document.createElement('script');
      script.src = 'js/bootstrap.bundle.min.js';
      document.head.appendChild(script);
    });
  </script>
</head>

</head>

<body>
    <%- include('./partials/navbar.ejs'); %>
<br>
    <div class="contenedor">
        <form id="form" method="POST" enctype="multipart/form-data">

            <header>
                <br>
                <h2>Publica tu producto:</h2>
                <!-- <div>This form breaks at 600px and goes from a left-label form to a top-label form. At above 1200px, the labels align right.</div> -->
            </header>
            <br><br>

            <div class="campo">
                <label for="nombre_producto">Nombre de publicación:</label>
                <input type="text" id="nombre_producto" name="nombre_publicacion" maxlength="50" required>
            </div>




            <div class="campo">
                <label for="precio">Precio:</label>
                <input type="number" id="precio" name="precio"  required>
            </div>
            <div class="campo">
                <label for="precio">Unidades:</label>
                <input type="number" id="unidades" name="unidades" required>
            </div>
           <div class="campo">
                <label for="descripcion">Descripción:</label>
                <textarea type="text" id="descripcion" name="descripcion" maxlength="500" required></textarea>
            </div>
            <div class="campo">
                <label for="palabra_clave_1">Palabra clave 1:</label>
                <input type="text" id="palabra_clave_1" name="kw1" maxlength="25" required>
            </div>
            <div class="campo">
                <label for="palabra_clave_2">Palabra clave 2:</label>
                <input type="text" id="palabra_clave_2" name="kw2" maxlength="25" required>
            </div>
            <div class="campo">
                <label for="imagen">Imagen:</label>
                <input type="file" id="imagen" name="archivo" required>
            </div>
            <div class="campo">
                <label for="Region">Region:</label>
                <select type="text" id="Region" name="Region" onchange="cambiaCiudad()">
                    <option value="0" required>Seleccione Región</option>
                    <% regiones.forEach(function(element, index) { %>
                        <option value="<%= index + 1 %>">
                            <%= element%>
                        </option>
                        <% }) %>
                </select>
            </div>



            <div class="campo">
                <label for="Ciudad">Ciudad:</label>
                <select type="text" id="Ciudad" name="Ciudad" required>
                    <option value=""></option>
                </select>
            </div>

            <br> <br>
            <div class="botonsubmit">
                <input type="button" class="btn btn-secondary" onclick="history.back()" name="volver atrás" value="Volver">
            <button type="submit" class="btn btn-primary">Publicar</button>
            </div>
            <br>
        </form>
    </div>
    <script>
        function cambiaCiudad() {
            const regionSeleccionada = document.getElementById("Region").value;

            // Realiza una solicitud AJAX al servidor para obtener las ciudades correspondientes a la región seleccionada
            const xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    const ciudades = JSON.parse(this.responseText);

                    // Reemplaza las opciones actuales en el selector Ciudad con las nuevas opciones devueltas por el servidor
                    const selectorCiudad = document.getElementById("Ciudad");
                    selectorCiudad.innerHTML = "";
                    ciudades.forEach((ciudad) => {
                        const option = document.createElement("option");
                        option.value = ciudad.comuna_id;
                        option.text = ciudad.ciudad;
                        selectorCiudad.add(option);
                    });
                }
            };
            xhttp.open("GET", `https://api-qcc.onrender.com/api/v1/ciudades?region=${regionSeleccionada}`, true);
            xhttp.send();
        }
    </script>
</body>

</html>