<!--use boostrap-->
<style>

footer {
    color: white;
    background: #50354e;
  }
  
  footer li {
    float: left;
    padding: 0 10px;
    list-style: none;
  }
  
  footer a {
    color: white;
  }
  
  footer p {
    float: right;
  }
  .containerfooter{
      background-color: #50354e;
    }
  </style>

<footer>
    <div class='container containerfooter'>
    <div class='row'>
        <div class='col-md-12'>
            <ul style="color: #fcfdfc ;" >
                <li><a href='/nosotros'>Sobre Nosotros</a></li>
                <li><a href='https://perifrasis.notion.site/Politica-de-privacidad-c29bda7abdc64cc98d683a781e384fba'>Privacidad</a></li>
                <li><a href='/github.com/andrescarlos-gm/'>Contactanos</a></li>
                <li><a href='#'></a></li>
                <p style="color: #fcfdfc ;">&copy; Copyright 2023</p>
            </ul>
        </div>
    </div>
    </div>
</footer>