<header class="sticky top-0 z-10 bg-teal-700 text-white">
    <section class="nav mx-auto flex max-w-4xl items-center justify-between p-4" id="navbarro">
        <div>
            <img class="loguito" src="/img/Logo/Logo colores.png" alt="Quecomocuando">
        </div>
        <div>
            <button id="hamburger-button" class="relative h-8 w-8 cursor-pointer text-3xl md:hidden">
                <div class="absolute top-4 -mt-0.5 h-1 w-8 rounded bg-white transition-all
                        duration-500 before:absolute before:h-1 before:w-8 before:-translate-x-4
                        before:-translate-y-3 before:rounded before:bg-white
                        before:transition-all before:duration-500 before:content-['']
                        after:absolute after:h-1 after:w-8 after:-translate-x-4
                        after:translate-y-3 after:rounded after:bg-white after:transition-all
                        after:duration-500 after:content-['']"></div>
            </button>
            <nav class="hidden space-x-8 text-xl md:block" aria-label="main">
                <% if (!isLoggedIn) { %>
                    <a href="/ingresar" class="hover:opacity-90">Ingresar</a>
                    <a href="/" class="hover:opacity-90">Inicio</a>
                    <% } else { %>
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle text-xl" type="button"
                                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                Hola <%= isLoggedIn.nameuser %>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right position-absolute"
                                aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item" href="/index">Inicio</a></li>
                                <li><a class="dropdown-item" href="/dash">Ir a mi panel</a></li>
                                <% if (isLoggedIn.isadmin==true) { %>
                                    <li><a class="dropdown-item" href="/modusr">Modificar Usuarios</a></li>
                                    <li><a class="dropdown-item" href="/modpub">Modificar Publicaciones</a></li>
                                    <% } %>
                                        <form action="/salir" method="post">
                                            <li><button type="submit" class="dropdown-item">Cerrar Sesion</button></li>
                                        </form>
                            </div>
                        </div>
                        <% } %>
            </nav>

        </div>
    </section>
    <section id="mobile-menu" class="top-68 justify-content-center absolute hidden w-full origin-top
            animate-open-menu flex-col bg-black text-3xl">
        <nav class="flex min-h-screen flex-col items-center py-8" aria-label="mobile">
            <% if (!isLoggedIn) { %>
                <a href="/" class="w-full py-6 text-center hover:opacity-90">Inicio</a>
                <a href="/publicar" class="w-full py-6 text-center hover:opacity-90">Publicar un producto</a>
                <a href="/ingresar" class="w-full py-6 text-center hover:opacity-90">Ingresar</a>

                <% } else { %>
                    <br>
                    <a href="/dash" class="w-full py-6 text-center hover:opacity-90">Ir al panel de <%=
                            isLoggedIn.nameuser%>
                    </a>
                    <a href="/publicar" class="w-full py-6 text-center hover:opacity-90">Publicar un producto</a>
                    <form action="/salir" class="w-full py-6 text-center hover:opacity-90" method="post">
                        <button type="submit">Cerrar Sesion</button>
                    </form>

                    <% } %>




        </nav>
    </section>
</header>